$col-brand-primary: #00a3e0;
$col-form-border: rgb(216,215,215);
$col-activities-background: #e8f3f7; // orig:  rgb(242, 249, 249);
$col-text-primary:  rgb(114,114,114);
$col-brand-red: #F50F29; 
$col-brand-orange: #F5A927; // #eaaa00;
$col-brand-blue-dark: #004b87;
$col-grey-dark: #898D8D; // PMS 423C
$col-grey-mid: #B2B4B2; // PMS 421C
$col-grey-light:  #C7C9C7; // PMS 420C

// $col-text-primary: #323232; //brainflix-black
// $col-text-secondary: #AFAFAF; // silver
// $col-cta-primary: #0095FF; // brainflix-blue
// $col-cta-hover: #0065AD; // brainflix-darkblue
// $col-background: white;
// $col-player-components: black;
// $col-divider-line: #E1E1E1; // mercury
// $col-form-field: #FAFAFA; // alabaster