// Import fonts
@font-face {
    font-family: 'PPBango';
    src: url('../assets/fonts/PPBango-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bango Pro';
    src: url('../assets/fonts/bangopro.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}