.games-list-container {
    min-height: 390px;
    padding: 60px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.games-list-container h2 {
    margin: 0px;
    max-width: 177px;
    font-size: 27px;
    line-height: 1.2em;
    font-family: 'VAGRound-Light';
}

.games-list-container h2 span {
    font-family: 'VAGRound-Bold';
    line-height: 1.2em;
    font-size: 27px;
}

/* GAMES CAROUSEL */
.games-carousel {
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: none;
}

.games-carousel.slick-slider .slick-track {
    display: flex;
    max-width: 8500px;
}

.games-carousel::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE and Edge */
.games-carousel {
-ms-overflow-style: none;
}

.games-carousel .game {
    margin-right: 27px;
    max-width: 180px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    cursor: grab;
}

.games-carousel .game:active {
    cursor: grabbing;
}

.games-carousel .game img {
    height: 180px;
    margin-bottom: 27px;
    pointer-events: none;
}

.games-carousel .game img::selection {
    color: none;
    background: none;
}

.games-carousel .game h4 {
    margin: 0px;
    font-size: 21px;
    line-height: 1.3em;
    font-family: 'VAGRound-Bold';
    pointer-events: none;
}

.games-carousel .game h4::selection {
    color: none;
    background: none;
}

.games-carousel .game p {
    margin: 0px;
    font-size: 21px;
    line-height: 1.3em;
    pointer-events: none;
}

.games-carousel .game p::selection {
    color: none;
    background: none;
}

/* Show the appropriate layout for the game carousel */
.game-list-mobile {
    display: initial;
}

.game-list-tablet {
    display: none;
}

.game-list-desktop {
    display: none;
}

/* Media Queries */
@media only screen and (min-width:530px) and (max-width:768px) {
    .game-list-mobile {
        display: none;
    }
    
    .game-list-tablet {
        display: initial;
    }
    
    .game-list-desktop {
        display: none;
    }
    
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .games-list-container h2 {
        max-width: none;
    }

    .game-list-mobile {
        display: none;
    }
    
    .game-list-tablet {
        display: none;
    }
    
    .game-list-desktop {
        display: initial;
    }
}

@media only screen and (min-width:1024px) { 
    .game-list-mobile {
        display: none;
    }
    
    .game-list-tablet {
        display: none;
    }
    
    .game-list-desktop {
        display: initial;
    }

    .games-list-container h2 {
        font-size: 48px;
        max-width: none;
    }

    .games-list-container h2 span {
        font-size: 48px;
    }

    /* GAMES CAROUSEL */
    .games-carousel .game img {
        height: 320px;
        margin-bottom: 50px;
    }

    .games-carousel .game {
        margin-right: 50px;
        max-width: 320px;
    }
}