/* 
* common spacing per styleguide
* assumed 16px default font size
*/
@font-face {
  font-family: "PPBango";
  src: url("../assets/fonts/PPBango-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bango Pro";
  src: url("../assets/fonts/bangopro.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../assets/fonts/gotham-bold.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, h1, h2, h3 {
  font-family: "PPBango", "Bango Pro", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  color: rgb(114, 114, 114);
  font-weight: normal;
}

h1, h2, h3 {
  font-family: "PPBango", "Bango Pro", Arial, Helvetica, sans-serif;
}

.alert-bar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #e8f3f7;
}
.alert-bar__text {
  color: #00a3e0;
  line-height: 1.3;
  font-size: 0.8rem;
  padding: 0.35rem 0;
}
@media screen and (min-width: 768px) {
  .alert-bar__text {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}
@media screen and (min-width: 1023px) {
  .alert-bar__text {
    font-size: 1.3rem;
  }
}

#onetrust-consent-sdk * {
  font-family: "Gotham Bold", Arial, Helvetica, sans-serif !important;
}

#onetrust-policy-text {
  color: rgb(114, 114, 114) !important;
}

button#onetrust-pc-btn-handler {
  background-color: #B2B4B2 !important;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 3.75rem;
  }
}
@media screen and (min-width: 1023px) {
  .header {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    padding-bottom: 2.75rem;
  }
}
.header__info {
  max-width: 20rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.9375rem;
  padding: 0.9375rem 0;
}
@media screen and (min-width: 768px) {
  .header__info {
    max-width: 35.125rem;
    padding: 1.625rem 0 1.25rem;
    gap: 1.4rem;
  }
}
@media screen and (min-width: 1023px) {
  .header__info {
    max-width: 600px;
    padding: 2.5rem 0 0;
  }
}
.header__info-date {
  font-weight: normal;
  font-size: 1.625rem;
  color: #00a3e0;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__info-date {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1023px) {
  .header__info-date {
    font-size: 2.1875rem;
    color: rgb(114, 114, 114);
  }
}
.header__info-title {
  display: none;
}
@media screen and (min-width: 1023px) {
  .header__info-title {
    display: block;
    color: #00a3e0;
    font-size: 3.234375rem;
  }
}
.header__info-title--tm {
  font-size: 50%;
  vertical-align: text-top;
}
.header__info-logo {
  width: 7.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 768px) {
  .header__info-logo {
    width: 10rem;
  }
}
@media screen and (min-width: 1023px) {
  .header__info-logo {
    display: none;
  }
}
.header__info-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.9375rem;
}
.header__info-video {
  width: 100%;
  min-width: 20rem;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left top;
     object-position: left top;
  aspect-ratio: 16/9;
  border-radius: 0.7rem;
  margin: 0.46875rem 0;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .header__info-video {
    min-width: 30rem;
    width: 480px;
    height: 270px;
  }
}
@media screen and (min-width: 1023px) {
  .header__info-video {
    width: 570px;
    height: 321px;
  }
}
.header__info-subtitle {
  font-size: 1.2188rem;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .header__info-subtitle {
    font-size: 1.6rem;
  }
}
.header__info-subtitle-group {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
@media screen and (min-width: 1023px) {
  .header__info-subtitle-group {
    order: 1;
    flex-flow: row nowrap;
    gap: 0.5rem;
  }
}
.header__info-subtitle--last {
  text-transform: uppercase;
}
@media screen and (min-width: 1023px) {
  .header__info-subtitle--last {
    order: 1;
  }
}
.header__form {
  max-width: 20rem;
  border: 1px solid rgb(216, 215, 215);
  border-radius: 10px;
  margin: 1.4rem 0 0.46875rem;
  padding: 1.875rem 1.875rem;
  position: relative;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .header__form {
    max-width: 36.5625rem;
    margin-top: 2.0833333333rem;
  }
}
@media screen and (min-width: 1023px) {
  .header__form:not(.bottom-form__form) {
    margin-top: 8rem;
    padding-top: 8rem;
  }
}
.header__form-logo {
  display: none;
}
@media screen and (min-width: 1023px) {
  .header__form-logo:not(.bottom-form__logo) {
    display: block;
    width: 8.5rem;
    margin: 0 auto;
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header__form-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.9375rem;
}
.header__form-title {
  font-size: 1.4063rem;
  color: #00a3e0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__form-title {
    font-size: 1.5rem;
  }
}
.header__form-subtitle {
  font-size: 1rem;
  color: #00a3e0;
}
@media screen and (min-width: 768px) {
  .header__form-subtitle {
    font-size: 1rem;
  }
}

.form-inline {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.7rem;
  max-width: 16.2rem;
  margin: 0.2rem 1.3rem 1.3rem;
}
.form-inline--hide {
  display: none;
}
.form-inline__input::-moz-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: normal;
}
.form-inline__warning, .form-inline__checkbox-label, .form-inline__input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: normal;
}
.form-inline__warning {
  color: rgb(204, 51, 0);
  font-style: italic;
  font-weight: 700;
  line-height: 1.4rem;
  padding: 0 0.1rem;
}
.form-inline__warning-hide {
  display: none;
}
.form-inline__checkbox-container {
  padding: 0 0.8rem;
  display: flex;
  flex-flow: row nowrap;
}
.form-inline__checkbox {
  position: relative;
  top: -0.7rem;
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
}
.form-inline__checkbox-label {
  color: black;
  line-height: 1.4rem;
  vertical-align: text-top;
}
.form-inline__input {
  padding: 0.55rem 0.3rem;
}
.form-inline__button {
  position: relative;
  background-color: #00a3e0;
  width: 12.7rem;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 2rem;
  font-family: "Bango Pro", "PPBango", sans-serif;
  font-size: 1.625rem;
  color: white;
  align-self: center;
}
.form-inline__button:hover {
  cursor: pointer;
}
.form-inline__button-loading {
  width: 2rem;
  vertical-align: text-bottom;
}
.form-inline__hide-misc {
  display: none;
}

.form__success {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 18rem;
}
.form__success--hide {
  display: none;
}
.form__success-copy {
  text-align: center;
  line-height: 1.4rem;
}
.form__success-copy-android-note {
  font-family: Arial, Helvetica, sans-serif;
}
.form__success-icons-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.7rem;
  margin: 1rem 0;
}
.form__success-icon {
  width: 9rem;
}

.form__error-copy {
  color: rgb(204, 51, 0);
  text-align: center;
  font-family: "Bango Pro", "PPBango", Arial, Helvetica, sans-serif;
  color: rgb(204, 51, 0);
  line-height: 1.4rem;
  padding: 0 0.1rem;
}
.form__error--hide {
  display: none;
}

.download__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.7375rem;
  background: url("../assets/images/misc/bluebar2.webp") bottom center/cover;
  padding: 1.4rem 0;
  border-top: 0.1rem solid #accbda;
  border-bottom: 0.1rem solid #accbda;
}
@media screen and (min-width: 768px) {
  .download__container {
    gap: 0.9rem;
    border-width: 0.14rem 0;
  }
}
.download__title {
  font-size: 1.625rem;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #00a3e0;
}
@media screen and (min-width: 768px) {
  .download__title {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1023px) {
  .download__title {
    font-size: 2.1875rem;
  }
}
.download__icons-box {
  display: flex;
  gap: 1.2rem;
}
@media screen and (min-width: 768px) {
  .download__icons-box {
    gap: 1.5rem;
  }
}
.download__icon {
  width: 10rem;
}
@media screen and (min-width: 768px) {
  .download__icon {
    width: 12rem;
  }
}
.download__upper {
  /* must come after other "download__" CSS display directives so that display rule not overridden */
  width: 100%;
}
@media screen and (min-width: 1023px) {
  .download__upper {
    display: none;
  }
}
.download__lower {
  display: none;
}
@media screen and (min-width: 1023px) {
  .download__lower {
    display: flex;
  }
}

.activities {
  padding: 2.5rem 0;
  background-color: #e8f3f7;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .activities {
    padding: 3.75rem 0;
  }
}
.activities__title {
  width: 21.875rem;
  margin: 0 auto 2.5rem;
  font-size: 1.625rem;
  text-align: center;
  line-height: 1.15;
  color: #00a3e0;
}
@media screen and (min-width: 768px) {
  .activities__title {
    width: 36.375rem;
    font-size: 2.1875rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 1023px) {
  .activities__title {
    width: auto;
    padding: 0 2rem;
  }
}
.activities__carousel-hack {
  display: flex;
  flex-flow: row nowrap;
}
.activities__item {
  width: 12.5rem;
  margin: 0 0.9375rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .activities__item {
    width: 15.625rem;
    margin: 0 1.4rem;
  }
}
.activities__item-image {
  width: 100%;
  margin-bottom: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .activities__item-image {
    margin-bottom: 1.4rem;
  }
}
.activities__item-desc {
  font-size: 1.1rem;
  font-family: "Gotham Bold", Arial;
  letter-spacing: normal;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .activities__item-desc {
    font-size: 1.3rem;
  }
}

.features {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .features {
    padding: 3.75rem 0;
    gap: 2.5rem;
  }
}
.features__title {
  width: 20rem;
  font-size: 1.625rem;
  text-align: center;
  line-height: 1.15;
  color: #00a3e0;
}
@media screen and (min-width: 768px) {
  .features__title {
    width: auto;
    margin: 0 2rem;
    font-size: 2.1875rem;
  }
}
.features__item {
  width: 18.125rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.9375rem;
}
.features__item-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2.34375rem;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features__item-box {
    gap: 4.21875rem 1.875rem;
    max-width: 1000px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 22rem;
  }
}
.features__item-image {
  width: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}
.features__item-desc {
  text-align: center;
  font-size: 1.25rem;
  font-family: "Gotham Bold", Arial;
  letter-spacing: normal;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .features__item-desc {
    padding: 0 2rem;
    font-size: 1.3rem;
  }
}

.lifestyle {
  margin: 0;
  padding: 0;
  border: 0;
}
.lifestyle__image {
  width: 100%;
  height: 203px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .lifestyle__image {
    height: 319px;
  }
}
@media screen and (min-width: 1023px) {
  .lifestyle__image {
    height: 603px;
  }
}

.bottom-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2.5rem 0;
}
@media screen and (min-width: 768px) {
  .bottom-form {
    padding: 3.75rem 0;
  }
}
@media screen and (min-width: 1023px) {
  .bottom-form {
    flex-flow: row nowrap;
    justify-content: center;
  }
}
.bottom-form__image {
  display: none;
}
@media screen and (min-width: 1023px) {
  .bottom-form__image {
    display: initial;
    max-width: 500px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer__social {
  background: #0082A4;
  padding: 1.40625rem;
  width: 100%;
  text-align: center;
}
.footer__social-title {
  color: white;
}
@media screen and (min-width: 768px) {
  .footer__social-title {
    font-size: 130%;
  }
}
.footer__social-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.875rem;
  margin-top: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .footer__social-box {
    gap: 2.1rem;
  }
}
.footer__social-link {
  text-decoration: none;
}
.footer__social-icon {
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 768px) {
  .footer__social-icon {
    height: 40px;
  }
}
.footer__social-icon--yt {
  filter: invert(100%) sepia(14%) saturate(602%) hue-rotate(232deg) brightness(118%) contrast(100%);
}
.footer__logos-legal-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
  background-color: #004664;
  color: rgb(213, 213, 213);
}
.footer__links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0 0;
  font-size: 0.8rem;
}
.footer__links-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: rgb(213, 213, 213);
}
@media screen and (max-width: 320px) {
  .footer__links-divider {
    display: none;
  }
}
.footer__legal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
}
.footer__logos {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.footer__logos-image {
  height: 50px;
}
@media screen and (min-width: 768px) {
  .footer__logos-image {
    height: 55px;
  }
}/*# sourceMappingURL=styles.css.map */