@use "./partials/colors" as *;
@use "./partials/variables" as *;
@use "./partials/fonts";
@use "./partials/mixins" as *;

* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; // If i put this in body selector, then h1 had top margin for some reason
}
body,h1,h2,h3 {
    font-family: "Bango Pro", "PPBango", Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    // line-height: 1.3;
    color: rgb(114,114,114);
}

.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__info {
        max-width: $space-max-width-mobile;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 15px;
        padding: $space-mobile-between 0;
        // justify-content: space-between;

        // Coming Soon
        &-date {
            font-weight: normal;
            font-size: $font-date-mobile;
            color: $col-brand-primary;
            text-transform: uppercase;
        }
        // title is replaced by logo on mobile devices
        &-title {
            display: none;
        }
        &-logo {
            width: 6.25rem;
            object-fit: contain;
        }
        // header copy and video area
        &-content {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: $space-mobile-between;
        }
        &-video {
            width: 100%;
            object-fit: contain;
            margin: calc($space-mobile-between/2) 0;
        }
        &-subtitle {
            font-size: $font-subtitle-mobile;
            line-height: 1.3;
            &-group {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
            }
            &--last {
                text-transform: uppercase;
            }
        }   
    }

    &__form {
        border: 1px solid blue;
        border-radius: 10px;
        margin: 1rem 0;
    }
}
// h1 {
//     font-size: 1.5rem;
//     line-height: 2rem;
//     font-weight: 700;

//     @include tablet-query {
//         font-size: 2.06rem;
//         line-height: 2.75rem;
//         font-weight: 700;
//     }
// }
// p,
// h2,
// h3 {
//     font-size: 0.8125rem;
//     line-height: 1.125rem;
//     font-weight: normal;
//     color: $col-text-primary;
//     @include tablet-query {
//         font-size: 0.875rem;
//         line-height: 1.375rem;
//     }
// }

// .button {
//     border: 0;
//     border-radius: 0.25rem;
//     color: $col-background;
//     background-color: $col-cta-primary;

//     height: 2.5rem;

//     text-transform: uppercase;
//     font-family: "AvenirNext";
//     font-size: 0.75rem;
//     font-weight: 600;

//     &:hover {
//         background-color: $col-cta-hover;
//     }
// }

// .flex-wrapper {
//     padding: $space-mobile-between;

//     @include tablet-query {
//         padding: $space-tablet-prehead;
//         padding-top: $space-mobile-prehead;
//     }
//     @include desktop-query {
//         padding: 0 $space-desktop-sides;

//         display: flex;
//         flex-flow: row nowrap;

//         max-width: $max-content-width;
//         margin: 0 auto;
//     }
// }
