/* 
* common spacing per styleguide
* assumed 16px default font size
*/
@font-face {
  font-family: "PPBango";
  src: url("../assets/fonts/PPBango-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bango Pro";
  src: url("../assets/fonts/bangopro.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, h1, h2, h3 {
  font-family: "PPBango", "Bango Pro", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  color: rgb(114, 114, 114);
  font-weight: normal;
}

h1, h2, h3 {
  font-family: "PPBango", "Bango Pro", Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
@media screen and (min-width: 1023px) {
  .header {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
  }
}
.header__info {
  max-width: 20rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 15px;
  padding: 0.9375rem 0;
}
.header__info-date {
  font-weight: normal;
  font-size: 1.5234rem;
  color: #00a3e0;
  text-transform: uppercase;
}
.header__info-title {
  display: none;
}
.header__info-logo {
  width: 6.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__info-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.9375rem;
}
.header__info-video {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0.46875rem 0;
}
.header__info-subtitle {
  font-size: 1.2188rem;
  line-height: 1.3;
}
.header__info-subtitle-group {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.header__info-subtitle--last {
  text-transform: uppercase;
}
.header__form {
  max-width: 20rem;
  border: 1px solid rgb(216, 215, 215);
  border-radius: 10px;
  margin: 0.46875rem 0;
  padding: 1.875rem 1.875rem;
}
.header__form-logo {
  display: none;
}
.header__form-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.9375rem;
}
.header__form-title {
  font-size: 1.4063rem;
}
.header__form-subtitle {
  font-size: 1rem;
  color: #00a3e0;
}

.activities {
  padding: 2.5rem 0;
  margin: 2.5rem 0;
  background-color: rgb(242, 249, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  overflow: hidden;
}
.activities__title {
  width: 21.875rem;
  font-size: 1.625rem;
  text-align: center;
  line-height: 1.15;
}
.activities__item {
  width: 200px;
  margin: 0 0.9375rem;
  text-align: center;
}
.activities__item-image {
  width: 100%;
  margin-bottom: 0.9375rem;
}
.activities__item-desc {
  font-size: 1.1rem;
}

.features {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  overflow: hidden;
}
.features__title {
  width: 20rem;
  font-size: 1.625rem;
  text-align: center;
  line-height: 1.15;
}
.features__item {
  width: 18.125rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.9375rem;
}
.features__item-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2.34375rem;
}
.features__item-image {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.features__item-desc {
  text-align: center;
  font-size: 1.25rem;
}

.simple-banner-image, .brand-awareness-footer-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=styles.css.map */